.search
{
    margin: 20px 50 px 0;
}
.search input
{
    padding: 20px 10px 10px;
    width: 85% ;
    color: #999;
    font-size: 20px;
}
.search input:focus
{
    outline: none;
    border-bottom: 1px solid #CCC;
}